<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{data.title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.css"/>
    <style>
        .article{
            width: 70%;
            margin: auto;
        }
        img{
            max-width: 400px;
            max-height: 400px;
        }
        .article{
            padding: 40px;
        }
    </style>
</head>
<body>

{% include 'header.html' %}
    <div class="article">
        {{data.html|safe}}
        <div class="statement" style="margin-top: 20px">
            <strong> [文章均轉載自公共號，版權歸原作者所有] </strong>
        </div>
    </div>
    <div class="slider"></div>


{% include 'footer.html' %}
</body>
</html>