<div class="footer" style="height: 200px;
            margin-top: 50px;
            background-color: black;
            text-align: center;
            color: whitesmoke">

    <div class="columns">
        <div class="column">
            <ul>

            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a style="color: cornflowerblue"><strong>關於</strong></a></li>
                <li><a href="/static/sitemap.xml" target="_blank" style="color: cornflowerblue"><strong>站點地圖</strong></a></li>
            </ul>
            <!--<li><a><strong>友情链接</strong></a></li>-->
        </div>
        <div class="column">
        </div>
    </div>
    <div style="margin-top: 20px"></div>
    <div class="columns">
        <div class="column">
            <p style="font-size: smaller;padding-top: 20px">
                <!--本站所有资源均来源于网络或是会员上传，版权属于原作者！仅供学习参考，严禁用于任何商业目的，本站不对您的使用负任何责任；-->
                <!--如果我们无意中侵犯了您的版权，敬请告之，我们核实后，将在3个工作日内删除，谢谢！联系的邮箱 330899380 at qq.com-->
                本讚所有資源均來源於網絡，版權屬於原作者！如果我們無意中侵犯了您的版權，敬請告知，我們核實後，將在三個工作日內刪除，謝謝！
                聯繫郵箱 33089980 at qq.com
            </p>
        </div>
    </div>
</div>

<script>
    $("img").each(function () {
        $(this).attr("onerror", "onerror=null;src='/static/img/default.png'");
    });


</script>

