<div class="footer" style="height: 200px;
            margin-top: 50px;
            background-color: black;
            text-align: center;
            color: whitesmoke">

    <div class="columns">
        <div class="column">
            <ul>
                <li><a><strong>关于本站</strong></a></li>
                <!--<li><a><strong>友情链接</strong></a></li>-->
            </ul>
        </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
    </div>
    <div style="margin-top: 20px"></div>
    <div class="columns">
        <div class="column">
            <p style="font-size: smaller;padding-top: 20px">
                本站所有资源均来源于网络或是会员上传，版权属于原作者！仅供学习参考，严禁用于任何商业目的，本站不对您的使用负任何责任；
                如果我们无意中侵犯了您的版权，敬请告之，我们核实后，将在3个工作日内删除，谢谢！我们的邮箱是: 330899380@qq.com
            </p>
        </div>
    </div>
</div>

