<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <!--<div style="margin-left: 200px"></div>-->
            <!--<img src="/static/img/logo.png" width="112" height="80">-->
            <div style="color: palevioletred;font-size: larger"><strong>精緻生活</strong></div>
        </a>
    </div>

    <div class="navbar-menu" style="max-width: 80%;margin: auto">

        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <strong>首頁</strong>
            </a>

            <a class="navbar-item" href="/list/food?num=0&count=20">
                <strong>美食</strong>
            </a>
            <a class="navbar-item" href="/list/movie?num=0&count=20">
                <strong>電影短評</strong>
            </a>
             <a class="navbar-item" href="/list/yingxiao?num=0&count=20">
                <strong>營銷</strong>
            </a>

            <!--<div class="navbar-item has-dropdown is-hoverable">-->
                <!--<a class="navbar-link">-->
                    <!--<strong>更多分類 </strong>-->
                <!--</a>-->

                <!--<div class="navbar-dropdown">-->
                    <!--<a class="navbar-item">-->
                        <!--<strong>技術</strong>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!--暂时不提供登录注册 之后也不会提供-->
        <div class="navbar-end">
             <a class="navbar-item" href="/list/all?num=0&count=20">
                <strong>全部列表</strong>
            </a>
            <!--<div class="navbar-item">-->
                <!--<div class="buttons">-->
                    <!--<a class="button is-primary">-->
                        <!--<strong>登录</strong>-->
                    <!--</a>-->
                    <!--<a class="button is-light">-->
                        <!--<strong>注册</strong>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</nav>